#background{
    background-color: #FFDFD4;
}
#login-container{
    background-image: linear-gradient(#FF0000, #FF5232,#FF7B5A);
    border-radius: 25px;
}
#login-campo{
    border-radius: 25px;
    border-style: solid;
    background-color: white;
    border-width: 3px;
    border-color: black;
}
.button{
    background-color: #221E1C;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.75);
    transition-duration: 0.6s;
}
.button:hover{
    background-color: #86360E;
}