#background{
    /* background-color: #FFDFD4; */
    
    background-color: #FFDFD4;
}
#login-container{
    /* background-image: linear-gradient(#FF0000, #FF5232,#FF7B5A); */
    background-color: #685C57;

    border-radius: 25px;
    width: 30em;
}
.login-campo{
    font-family: 'Quicksand', sans-serif;
    height: 40px;
    border-radius: 25px;
    border-style: solid;
    background-color: white;
    border-width: 3px;
    border-color: black;
}
.login-campo:hover{
    opacity: 0.9;
}
