.triangle:after {
    content: ' ';
    border-top: 35rem solid #221E1C;
    border-right: 85rem solid transparent;
    padding: 7em;
    position: absolute;

}

.triangle-vps:after {
    content: ' ';
    align-self: end;
    border-top: 35rem solid #221E1C;
    border-left: 75rem solid transparent;
    padding: 15em;
    position: absolute;

}

#fundo {
    padding: 0px;
    background-image: linear-gradient(to bottom,#3C3532 50%,#9E1B19);
}

path{
    fill: url(#gradient)
   }

/* TESTE */

.getstarted {
    border-radius: 30px;
    background-color: #FF0000;
    
}
.getstarted:hover{
    background-color: #86360E;
}

#row {
    position: absolute;

    margin-left: 15%;
    margin-right: 15%;
}

#container-price {
    /* height: 0vh; */

    background-color: #FFDFD4;

}
#footer-services-backgroud{
    background-image: linear-gradient(#3C3532,#685C57);
}
#footer-services-title{
    color: #FF5232;
}
#footer-license-background{
    background-color: #221E1C;
}
#footer-about-background{
    background-image: linear-gradient(#FF0000,#FF5232);
}
#price-title-container{
    background-color: #FF5232;
    border-radius: 30px;
    -webkit-box-shadow: 10px 10px 72px 9px rgba(0,0,0,0.28);
-moz-box-shadow: 10px 10px 72px 9px rgba(0,0,0,0.28);
box-shadow: 10px 10px 72px 9px rgba(0,0,0,0.28);
}
#price-plans-background{
    background-color: #FF9E81;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 72px 9px rgba(0,0,0,0.28);
-moz-box-shadow: 10px 10px 72px 9px rgba(0,0,0,0.28);
box-shadow: 10px 10px 72px 9px rgba(0,0,0,0.28);
}
#price-plan-title{
    background-color: #FF7B5A;
    border-radius: 17px;
}
#price-plan-price{
    background-color: #221E1C;
    border-radius: 20px;
}
#price-desc-background{
    background-color: #FF9372;
    border-radius: 20px;
}
.button-plan{
    background-color: #FF0000;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.75);
    transition-duration: 0.6s;
}
.button-plan:hover{
    background-color: #86360E;
}
#desc-title{
border-radius: 15px;
background-color: #B59E96;
}
.gradient-text{
    color: #FF9E81;
    background: -webkit-linear-gradient(left,#FF0000,#C4FCFF,#C4FCFF,#FF0000);
    background-size: 1600px 200px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: animationgradienttitle;
    animation: animationgradienttitle 5s infinite linear;
  }

  @keyframes animationgradienttitle {
    0% {
        background-position: 0 1600px;
    }
    100% {
        background-position: 1600px 0;
    }
  }
.wave{
    overflow: hidden;
    background-color: #FFDFD4;
}